@page "/home"
@layout MainLayout
@inject UserService userService
@inject NavigationManager navigator
@using StaccOppgave.Models
@using System.Text.Json
@using BlazorBootstrap



@if (@account == null)
{
    @if (!string.IsNullOrWhiteSpace(errorMessage))
    {
        <div class="alert alert-danger">@errorMessage</div>
    }

} else
{
<div >
        <h3>Welcome back, @userService.UserName !</h3>
        <p>Account number: <strong>@account.AccountNumber</strong></p>
        <p>Your account balance is:</p>
        <h1>@account.Balance  @account.Currency</h1>
</div>
<br />
    <div>
            @if (savingGoals != null)
        {
    <h3> Saving goals: </h3>
            
            @foreach (SavingGoal savingGoal in savingGoals)
            {

                <Card TextAlignment="Alignment.Center" Color="CardColor.Light" Class="mb-4 saving-cards" Style="width:18rem;">
                    <CardHeader> @savingGoal.Title </CardHeader>
                    <CardBody>
        
                        <CardText> @savingGoal.Description </CardText>
                        <CardText><strong>@account.Balance @account.Currency </strong> / <strong>@savingGoal.Price @account.Currency</strong></CardText>
                        <Progress Class="mb-3">
                            <ProgressBar Width="@CalculateWidth(savingGoal)" Label="@SetLabel(savingGoal)"
                             Type="ProgressType.StripedAndAnimated" Color="ProgressColor.Danger"></ProgressBar>
                        </Progress>
                        <button type="submit" class="btn btn-danger" @onclick="() => DeleteSavingGoal(savingGoal.SavingGoalId)">Delete</button>
                    </CardBody>
                </Card>
            }

    }
</div>
}

@code {
    int accountNumber;
    string? userid;
    string? errorMessage;
    Account? account;
    List<SavingGoal>? savingGoals;
   

    protected override async Task OnInitializedAsync()
    {
        await GetSavingGoals();
        await GetAccount();
    }

    private async Task GetAccount()
    {
        userid = userService.UserId.ToString();
        if (string.IsNullOrEmpty(userid))
        {
            errorMessage = "You must be logged in";
            return;
        }
        try
        {
            using (var client = new HttpClient())
            {

                var response = await client.GetAsync($"https://spareappapi.azurewebsites.net/Account/GetAccountForUser?userId={Uri.EscapeDataString(userid)}");
                if (response.IsSuccessStatusCode)
                {
                    account = await response.Content.ReadFromJsonAsync<Account>();

                }
                else
                {
                    errorMessage = "Account was not found";
                }
            }
        }
        catch (HttpRequestException ex)
        {
            errorMessage = ex.Message;
        }

    }
    private async Task GetSavingGoals()
    {
        userid = userService.UserId.ToString();
        if (string.IsNullOrEmpty(userid))
        {
            errorMessage = "You must be logged in";
            return;
        }
        using (var client = new HttpClient())
        {
            try
            {

                var apiUrl = $"https://spareappapi.azurewebsites.net/SavingGoals/GetSavingGoalsForUser?userId={Uri.EscapeDataString(userid)}";

                var response = await client.GetAsync(apiUrl);


                if (response.IsSuccessStatusCode)
                {

                    var responseContent = await response.Content.ReadAsStringAsync();
                    savingGoals = JsonSerializer.Deserialize<List<SavingGoal>>(responseContent);




                }
                else
                {
                    savingGoals = null;
                    errorMessage = "No saving goals found";
                }
            }
            catch (Exception ex)
            {

                errorMessage = "An error occurred: " + ex.Message;
            }
        }
    }
    private async Task DeleteSavingGoal(int goalid)
    {
        userid = userService.UserId.ToString();
        if (string.IsNullOrEmpty(userid))
        {
            errorMessage = "You must be logged";
            return;
        }
        using (var client = new HttpClient())
        {
            try
            {

                var apiUrl = $"https://spareappapi.azurewebsites.net/SavingGoals/DeleteGoal?goalId={Uri.EscapeDataString(goalid.ToString())}";

                var response = await client.DeleteAsync(apiUrl);


                if (response.IsSuccessStatusCode)
                {
                    await GetSavingGoals();

                }
                else
                {

                    errorMessage = "Could not delete the saving goal";
                }
            }
            catch (Exception ex)
            {

                errorMessage = "An error occurred: " + ex.Message;
            }
        }

    }

    private double CalculateWidth(SavingGoal savingGoal)
    {
        decimal percentage = Math.Round(account.Balance / savingGoal.Price * 100);
        double width = (percentage >= 100) ? 100 : (double)percentage;
        return width;
    }
    private string SetLabel(SavingGoal savingGoal) 
    {
        decimal percentage = Math.Round(account.Balance / savingGoal.Price * 100);
        return percentage + "%";
    }




}
